@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=radio] {
  padding: 0.7em;
  -webkit-appearance: none;
  outline: 0.1em solid black;
  outline-offset: 0.1em;
}

input[type=radio]:checked {
  display: inline-block;
  background-color: #6d76c5;
}

.pagination {
  display: flex;
  /* justify-content: space-evenly; */
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #ddc8f5;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0;
}

